In [68]:
#diffrent types of libary which used for fusion and Reshaping.
import numpy as np
import pandas as pd

In [69]:
df_1 = pd.read_csv("C:\\Users\\deepm\\Downloads\\Car_Tyres_Dataset.csv")
df_1.head()

,Brand,Model,Submodel,Tyre Brand,Serial No.,Type,Load Index,Size,Selling Price,Original Price,Rating
0,Maruti,Swift Dzire,LDI (Diesel),JKTyre,Taximaxx,Tubeless,85,165/80 R 14,"3,255","3,255",5.0
1,Maruti,Swift Dzire,LDI (Diesel),CEAT,Milage X3,Tubeless,85,165/80 R 14,"3,406","3,406",4.0
2,Maruti,Swift Dzire,LDI (Diesel),Apollo,Amazer 4G Life,Tubeless,85,165/80 R 14,"3,490","4,319",4.5
3,Maruti,Swift Dzire,LDI (Diesel),Continental,Comfort Contact CC6,Tubeless,85,165/80 R 14,"4,484","4,244",NaN
4,Maruti,Swift Dzire,LDI (Diesel),GoodYear,Assurance Duraplus 2,Tubeless,85,165/80 R 14,"3,025","3,025",4.2

In [70]:
df_2 = pd.read_csv("C:\\Users\\deepm\\Downloads\\tslaUsedCarsInventoryDataSet.csv")
df_2.head()

,model,year,odometer,price,location,driveTrain,DAS,accident_history,paintJob,wheels,emi,zipCode,interior,state
0,Model S,2018.0,36438.0,53300.0,"Colma, CA",100D Long Range All-Wheel Drive,Autopilot,Previously Repaired,Red Multi-Coat Paint,"19"" Silver Slipstream Wheels",$824 /mo,85209,Cream Premium Interior,CA
1,Model S,2018.0,30180.0,59200.0,"Colma, CA",100D Long Range All-Wheel Drive,Previously Repaired,30-Day Premium Connectivity Trial,Midnight Silver Metallic Paint,"21"" Sonic Carbon Twin Turbine Wheels",$930 /mo,85209,Black Premium Interior,CA
2,Model S,2018.0,95696.0,36100.0,"Scottsdale, AZ",100D Long Range All-Wheel Drive,Enhanced Autopilot,No Reported Accidents/Damage,Midnight Silver Metallic Paint,"19"" Sonic Carbon Slipstream Wheels",$514 /mo,85209,Black Premium Interior,AZ
3,Model S,2018.0,36438.0,53300.0,"Colma, CA",100D Long Range All-Wheel Drive,Autopilot,Previously Repaired,Red Multi-Coat Paint,"19"" Silver Slipstream Wheels",$824 /mo,85251,Cream Premium Interior,CA
4,Model S,2018.0,30180.0,59200.0,"Colma, CA",100D Long Range All-Wheel Drive,Previously Repaired,30-Day Premium Connectivity Trial,Midnight Silver Metallic Paint,"21"" Sonic Carbon Twin Turbine Wheels",$930 /mo,85251,Black Premium Interior,CA

In [71]:
df_1.describe()

        Load Index       Rating
count  4350.000000  2248.000000
mean     84.101609     4.297598
std       6.716769     0.698433
min      69.000000     1.900000
25%      79.000000     4.000000
50%      86.000000     4.300000
75%      88.000000     5.000000
max     106.000000     5.000000

In [72]:
df_2.describe()

         year      odometer         price       zipCode
count   232.0   1912.000000   1912.000000   1912.000000
mean   2018.0  30374.755753  45444.246862  88908.178870
std       0.0  16407.869396  11533.143755   3962.972473
min    2018.0    131.000000  26500.000000  85209.000000
25%    2018.0  18065.000000  36900.000000  85260.000000
50%    2018.0  28591.000000  43900.000000  85704.000000
75%    2018.0  38470.250000  52100.000000  93311.000000
max    2018.0  95696.000000  86200.000000  95403.000000

In [73]:
df_1.shape

(4350, 11)

In [74]:
df_2.shape

(1912, 14)

In [75]:
df_1.drop(columns=['Rating'], inplace=True)
df_1.isna().sum()

Brand             0
Model             0
Submodel          0
Tyre Brand        0
Serial No.        0
Type              0
Load Index        0
Size              0
Selling Price     0
Original Price    0
dtype: int64

In [76]:
df_2.drop(columns=['year', 'location', 'state'], inplace=True)
df_2['driveTrain'].fillna(df_2['driveTrain'].mode()[0], inplace=True)
df_2['price'].fillna(df_2['price'].median(), inplace=True)
df_2.dropna(subset=['model', 'price'], inplace=True)

In [77]:
print(df_2.isna().sum())

model               0
odometer            0
price               0
driveTrain          0
DAS                 0
accident_history    0
paintJob            0
wheels              0
emi                 0
zipCode             0
interior            0
dtype: int64

In [78]:
# DATA- Fusion------

# Merging df_1 and df_2 on the 'Model' column
df_merged = pd.merge(df_1, df_2, left_on='Model', right_on='model', how='outer')

# Display the first few rows of the merged dataframe
print(df_merged.head())

   Brand         Model      Submodel   Tyre Brand            Serial No.  \
0  Maruti  Swift Dzire  LDI (Diesel)       JKTyre              Taximaxx
1  Maruti  Swift Dzire  LDI (Diesel)         CEAT             Milage X3
2  Maruti  Swift Dzire  LDI (Diesel)       Apollo        Amazer 4G Life
3  Maruti  Swift Dzire  LDI (Diesel)  Continental   Comfort Contact CC6
4  Maruti  Swift Dzire  LDI (Diesel)     GoodYear  Assurance Duraplus 2

       Type  Load Index         Size Selling Price Original Price  ...  \
0  Tubeless        85.0  165/80 R 14         3,255          3,255  ...
1  Tubeless        85.0  165/80 R 14         3,406          3,406  ...
2  Tubeless        85.0  165/80 R 14         3,490          4,319  ...
3  Tubeless        85.0  165/80 R 14         4,484          4,244  ...
4  Tubeless        85.0  165/80 R 14         3,025          3,025  ...

  odometer  price  driveTrain  DAS accident_history paintJob wheels  emi  \
0      NaN    NaN         NaN  NaN              NaN      NaN    NaN  NaN
1      NaN    NaN         NaN  NaN              NaN      NaN    NaN  NaN
2      NaN    NaN         NaN  NaN              NaN      NaN    NaN  NaN
3      NaN    NaN         NaN  NaN              NaN      NaN    NaN  NaN
4      NaN    NaN         NaN  NaN              NaN      NaN    NaN  NaN

  zipCode  interior
0     NaN       NaN
1     NaN       NaN
2     NaN       NaN
3     NaN       NaN
4     NaN       NaN

[5 rows x 21 columns]

In [86]:
# Merging df_1 and df_2 on the 'Model' column
df_merged = pd.merge(df_1, df_2, left_on='Model', right_on='model', how='inner')

# Display the first few rows of the merged dataframe
print(df_merged.head())

Empty DataFrame
Columns: [Brand , Model, Submodel, Tyre Brand, Serial No., Type, Load Index, Size, Selling Price, Original Price, model, odometer, price, driveTrain, DAS, accident_history, paintJob, wheels, emi, zipCode, interior]
Index: []

[0 rows x 21 columns]

In [87]:
# IT give empty dataframe because of No Matching Data.

In [89]:
# Reshaping data using Pivot Table 
# Pivoting the data to get the average Selling Price by Model (excluding Rating)
pivoted_data = df_merged.pivot_table(
    index='Model',  # Rows will be the model names
    values='Selling Price',  # Columns to aggregate
    aggfunc='mean'  # Aggregation function (mean)
)

print(pivoted_data)

Empty DataFrame
Columns: []
Index: []

In [90]:
# Reshaping data using melt function.
# Melting the data to transform 'Selling Price' into long format
melted_data = df_merged.melt(
    id_vars=['Model'],  # The column(s) to keep fixed (identifier)
    value_vars=['Selling Price'],  # Columns to unpivot
    var_name='Attribute',  # Name for the column that holds variable names (Selling Price)
    value_name='Value'  # Name for the column that holds the values
)

print(melted_data)

Empty DataFrame
Columns: [Model, Attribute, Value]
Index: []

In [91]:
'''An empty DataFrame is typically returned in cases where the input data does not meet the criteria required for the operation being performed. In the context of reshaping or merging data, this can happen if there is no matching data for the specified conditions.'''

'An empty DataFrame is typically returned in cases where the input data does not meet the criteria required for the operation being performed. In the context of reshaping or merging data, this can happen if there is no matching data for the specified conditions.'